In [1]:
import ml
reload(ml)
from ml import *
import timeit
import scipy
import operator
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
from datetime import datetime
from collections import Counter
import matplotlib.pyplot as plt
from pprint import pprint
from __future__ import division
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
sns.set_style('whitegrid')
plt.style.use('seaborn-whitegrid')
%matplotlib inline

__author__ = 'HK Dambanemuya'
__version__ = 'Python 2'

'''
    Analysis originaly performed in Python 2 (deprecated)
    Seaborn, Statsmodel, and * imports broken in Python 3
'''

In [7]:
bid_data = pd.read_csv("../Data/bid_notick.txt", sep="|")
bid_data = bid_data[["MemberKey", "ListingKey"]]
# bid_data['Member_Key'] = bid_data.MemberKey
# bid_data['Listing_Key'] = bid_data.ListingKey
bid_data.head()

                 MemberKey               ListingKey
0  F4273365023760472DBD934  D6473365888221963456102
1  F4273365023760472DBD934  D6473365888221963456102
2  F4273365023760472DBD934  3B09336533376614186EEF7
3  F4273365023760472DBD934  601833660859080305A2AC3
4  F4273365023760472DBD934  601833660859080305A2AC3

In [20]:
llm = bid_data.groupby(['MemberKey', 'ListingKey']).size().reset_index()
llm = llm.drop(0, axis=1)
llm.head()

                 MemberKey               ListingKey
0  0000340501560805347A59F  00FB34079745424975EB1BA
1  0000340501560805347A59F  017C3411773435978D691F2
2  0000340501560805347A59F  027F3412487404995AA0CA8
3  0000340501560805347A59F  03EB34108513343934BF681
4  0000340501560805347A59F  04033409811481500AF6997

In [21]:
llm.to_csv("../Data/llm.txt", index=False)

In [22]:
len(llm)

8785460