In [97]:
# Documentation: https://www.prosper.com/Downloads/Services/Documentation/ProsperDataExport_Details.html
# import ml
# reload(ml)
# from ml import *
import timeit
import scipy
import operator
import numpy as np
import pandas as pd
import cPickle as pickle
from scipy import stats
# import seaborn as sns
from datetime import datetime
from collections import Counter
import matplotlib.pyplot as plt
from pprint import pprint
# from __future__ import division
# import statsmodels.api as sm
from tqdm import tqdm, tqdm_notebook
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
plt.style.use('classic')
%matplotlib inline

__author__ = 'HK Dambanemuya'
__version__ = 'Python 2'

'''Analysis originaly performed in Python 2 (deprecated). Seaborn, Statsmodel, and * imports are no longer supported in  in Python 3.'''

'Analysis originaly performed in Python 2 (deprecated). Seaborn, Statsmodel, and * imports are no longer supported in  in Python 3.'

## Methods

In [3]:
def cov(arr):
    return np.std(arr) / np.mean(arr) 

def fundingTime(arr):
    return (arr.max() - arr.min()).days

def interEventTime(arr):
    return [(t - s).seconds for s, t in zip(sorted(arr), sorted(arr)[1:])]

def avgInterEventTime(arr):
    return np.mean(interEventTime(arr))

def covInterEventTime(arr):
    varr = interEventTime(arr)
    return np.std(varr) / np.mean(varr)

In [108]:
# Take bids that contribute t% of the total amount raised
def filter_bids_by_amount(threshold):
    bids_ = []
    threshold = threshold
    for listing_key in tqdm_notebook(listing_keys[:1000]):
#         print (listing_key)
        var_df = listing_bids_map[listing_key]
#         print "Amount Requested =", amount_requested_map[listing_key]

        series = var_df['Amount'].fillna(0)
        norm_cdf = np.cumsum(series)
#         print "num_bids =", len(norm_cdf)
        try:
            limit = max(series)*threshold
#             print "limit =", limit
#             print "first contribution =", norm_cdf[0]
            if norm_cdf[0] > limit:
#                 print ("Pass")
                pass
            else:
                 for i in range(len(norm_cdf)):
                    if limit < norm_cdf[i]:
                        bids_.append(var_df[:i-1])  
                        break
#                  print len(bids_)
#             print(1)
        except Exception as e:
#             print(e)
            pass
#         print "\n"
#     return bids_
    return pd.concat(bids_, axis=0)

## Bids

In [23]:
bids = pd.read_csv("../Data/bid_notick.txt", sep="|")
# Filter winning bids
bids = bids[bids.Status.isin(["Winning", "Partially Participating"])]
# Remove current listings
bids = bids[bids.ListingStatus.isin(["Expired", "Completed"])]
# Filter relevant columns
bids = bids[["ListingKey", "Bid_Key", "MemberKey", "CreationDate", "Amount", "ListingStatus"]]
# Convert creation date to datetime format
bids["CreationDate"] = pd.to_datetime(bids.CreationDate)
# Variable /YYYY/MM to allow monthly time unit analysis
bids["time_trunc"] = bids.CreationDate.map(lambda x: x.strftime('%Y%m'))
# Rename status colunmn for consistency with other projects
bids = bids.rename(index=str, columns={"ListingStatus": "Status"})
# Exclude these bids in preliminary analysis to correspond to final listing list
with open("../Data/final_listings", 'rb') as f:
    filtered = pickle.load(f)
bids = bids[bids['ListingKey'].isin(filtered)] 
# Show sample data
bids.sample(5)

                      ListingKey                  Bid_Key                MemberKey        CreationDate  Amount     Status time_trunc
2366928  877A3397656156419B1D8E7  1511350138292404789C761  9F073366425029341D28A45 2007-08-31 08:21:21 50.000   Completed  200708
2778138  9EC73402400652436A97FBA  C3F93506664782387A2C2D7  4C0D33738016031793BADB2 2007-10-30 06:45:56 50.000   Completed  200710
950240   D56C33824739324599A70A5  9A3833830154627794A8996  0BBA338200485262135F4F6 2007-02-19 16:29:30 50.000   Completed  200702
4865454  AF65342371987499192AD30  7C723526990767610D79C74  3717336509444357832AF95 2008-06-10 18:24:56 50.000   Expired    200806
1444266  1F123386748579297393F06  CEBF3489579179600CD300F  E05C33829776378445AF573 2007-04-17 05:53:13 219.760  Completed  200704

## Listings

In [81]:
columns = ["Lst_Key", "AmountRequested", "AmountFunded", "StartDate", "EndDate", "Status", "BorrowerRate", "ProsperScore", "Duration", "CreditGrade", "DebtToIncomeRatio", "IsBorrowerHomeowner"]
listings = pd.read_csv('../Data/listing.txt', sep="|")
listings = listings[columns]
listings = listings.rename(index=str, columns={"Lst_Key": "ProjectID",
                                               "AmountFunded": "AmountRaised"})
# Pre-process credit information
creditmap = {'AA':8, 'A':7, 'B':6, 'C':5, 'D':4, 'E':3, 'HR':2, 'NC':1}
listings['CreditGrade'] = listings.CreditGrade.fillna(9)
listings = listings.applymap(lambda s: creditmap.get(s) if s in creditmap else s)
listings = listings[listings['CreditGrade']<9] # Drop records with no credit information
# Remove current listings
listings = listings[listings.Status.isin(["Expired", "Completed"])]
# Remove listings that raised $0
listings = listings[listings.AmountRaised > 0]
listings.head(5)

                  ProjectID  AmountRequested  AmountRaised            StartDate              EndDate   Status  BorrowerRate  ProsperScore  Duration  CreditGrade  DebtToIncomeRatio IsBorrowerHomeowner
56  68463366021964690748937 2995.000         1050.680       2006-06-22 14:50:57  2006-07-02 14:51:13  Expired 0.287         nan            10        2           0.040               False
57  68C933650780012599F665D 1500.000         200.000        2006-06-23 12:48:26  2006-06-30 12:50:36  Expired 0.237         nan            7         2           0.150               False
72  32FB33655503533550522A0 4000.000         650.000        2006-07-22 15:40:03  2006-07-29 15:41:06  Expired 0.070         nan            7         8           0.060               True
74  AF5833649932087691B64A6 2000.000         825.000        2006-07-28 10:04:50  2006-08-04 10:07:57  Expired 0.290         nan            7         2           0.190               True
80  5D553365615243726AB58E0 5000.000         300.000        2006-08-07 14:29:47  2006-08-14 14:33:56  Expired 0.290         nan            7         2           0.120               True

## Global Variables

In [83]:
# Create listing Key Variable
listing_keys = list(set(bids['ListingKey']))
assert len(listing_keys) == len(listings)

(143770, 143770)

In [98]:
# Map ProjectID to AmountRequested
amount_requested_map = {}
for row in listings.iterrows():
    amount_requested_map[row[1]['ProjectID']] = row[1]['AmountRequested']

In [107]:
# Map Listing Keys to Bids Dataframes
listing_bids_map = {}

for listing_key in tqdm_notebook(listing_keys[:1000]):
    listing_bids_map[listing_key] = bids.query("ListingKey == '{0}'".format(listing_key)).sort_values(by='CreationDate')

HBox(children=(IntProgress(value=0, max=1000), HTML(value=u'')))

## Filter Bids

In [109]:
bids_10 = filter_bids_by_amount(0.10)
bids_10.to_csv("../Data/bids_amount_50.csv", index=False)

HBox(children=(IntProgress(value=0, max=1000), HTML(value=u'')))

                      ListingKey                  Bid_Key                MemberKey        CreationDate  Amount     Status time_trunc
304271   5B083365639321850399289  19193364330842785FFEEF4  9A9A3365228774433E74B18 2006-05-15 02:35:33 50.000   Completed  200605
246112   4AE933667459349951ED1DB  DD2533677870489758AD9ED  F43F33662851556082F92B1 2006-09-08 09:40:07 50.000   Completed  200609
5734035  BF2E3430262814443CE4929  5D52353579341842466D674  F4463366129336946E8A48D 2008-09-09 00:32:09 125.000  Expired    200809
5735358  BF2E3430262814443CE4929  8FCE3535468940629793D93  40DF3365238224706FDAC5C 2008-09-09 00:32:24 50.000   Expired    200809
2563761  CF3833996649331610F785F  1CC4350453706375862F05E  586B339756607890945DCE3 2007-09-24 19:40:42 50.000   Completed  200709
2584014  BF25340005602178365A345  A5963504197846096EEB1DA  EB7B337211686225788DFCB 2007-09-24 16:54:58 60.000   Expired    200709
2584755  BF25340005602178365A345  FD1F350505715562391C4DF  5AA03365047807449B2416F 2007-09-24 16:55:01 50.000   Expired    200709
924679   79743380939325833360D8A  7BF7338075672884014D2BC  D56433716321056367B0D40 2007-02-10 11:33:00 50.000   Completed  200702
924966   79743380939325833360D8A  F6B7338030841752974F48F  EBF43371161463640717539 2007-02-10 11:52:29 75.000   Completed  200702
5206683  CE0D34247657314444B4DE7  8A1835289595988389532BF  5AA03365047807449B2416F 2008-07-09 18:55:49 50.000   Expired    200807
5206540  CE0D34247657314444B4DE7  42A43530443978407ACF0F5  A34234016898332993B14F1 2008-07-09 18:56:07 50.000   Expired    200807
5206541  CE0D34247657314444B4DE7  BD3B3530280313223114CD1  4B0F3408568155308C3F3F1 2008-07-10 03:00:24 50.000   Expired    200807
5206219  CE0D34247657314444B4DE7  3D7E3529708958507A25613  69AA3365640007559D5B359 2008-07-10 10:20:23 50.000   Expired    200807
975679   89433381780809543DA1F7C  6FD133812399751468E1EA1  0B373379540116297E617CE 2007-02-20 07:15:03 50.000   Expired    200702
999585   89433381780809543DA1F7C  EBB233831764008281C2801  35A63369988700194F19DC7 2007-02-23 14:38:32 100.000  Expired    200702
291897   D12A336477113922611197E  AF8533653968231501865D2  63AE3365290509522381326 2006-05-12 16:35:58 50.000   Completed  200605
267609   D12A336477113922611197E  B537336600644898249EBDB  8DE133657363264326FD856 2006-05-12 16:35:58 50.000   Completed  200605
289168   D12A336477113922611197E  5FE93364670682936BC771A  2B7C33645911822404DB9EA 2006-05-12 16:35:58 50.000   Completed  200605
301465   D12A336477113922611197E  6F6D3365830668875A3E37C  2F2A336500785596566CB99 2006-05-12 16:35:58 50.000   Completed  200605
300492   D12A336477113922611197E  09DA3364522323550CC0DD8  0DBD3365663714847676832 2006-05-12 16:35:58 50.000   Completed  200605
164923   69873368757524029E8DE19  24BA3369838632689B6C987  48C633664061738295E9F21 2006-09-21 15:41:05 50.000   Completed  200609
170765   69873368757524029E8DE19  C5F533696970924107AE2D0  2664336632151545736DCC4 2006-09-21 15:41:05 80.000   Completed  200609
340713   0760336678091259277F520  21C333656550690241F796C  150E33645047769409DA5EC 2006-08-17 18:04:51 50.000   Completed  200608
2329437  3C3C33971110748577FBFC7  75A73501297423152CBDCB5  F97B3374281877296406836 2007-08-16 21:28:39 55.500   Completed  200708
2329457  3C3C33971110748577FBFC7  C7A63502116071650FBE5E9  2E6D3393380217616CB9E58 2007-08-16 21:28:46 50.000   Completed  200708
890865   BF9D3380803386528A45EBA  45553380089753018C50EB4  B2C83379943571053277FDF 2007-02-05 12:12:27 50.000   Completed  200702
889526   BF9D3380803386528A45EBA  F55A3381005265327F84218  E5A0337423651808211647A 2007-02-05 12:20:20 50.000   Completed  200702
4433303  55DB34203656296489E3D7D  4C60352337217355125D972  BAFD3384249193490B2C507 2008-04-25 20:00:13 50.000   Expired    200804
260916   136D3369314013189B364B4  A25E3368411010924359BC9  DA343366998232922D14A75 2006-09-24 20:35:39 65.000   Completed  200609
256213   136D3369314013189B364B4  56403369700653782C735B6  1B173365292938614656FC1 2006-09-24 20:35:39 60.000   Completed  200609
1578296  D0A83388336326595F5F896  E59F3491276837206A2456A  40DF3365238224706FDAC5C 2007-05-03 08:54:58 50.000   Expired    200705
5286880  C2EE34271594675673CCDEC  44E33530201203320F7AEF1  5AA03365047807449B2416F 2008-07-17 18:01:15 50.000   Completed  200807
5286681  C2EE34271594675673CCDEC  6FDB3530445779281422109  FC3534029369086970B9D5B 2008-07-17 18:01:27 50.000   Completed  200807
5286683  C2EE34271594675673CCDEC  B8523530020347192E09C65  4B0F3408568155308C3F3F1 2008-07-18 01:31:56 60.010   Completed  200807
5286684  C2EE34271594675673CCDEC  6B47352937459255413FC18  A34234016898332993B14F1 2008-07-18 04:52:58 50.000   Completed  200807
5286070  C2EE34271594675673CCDEC  C4C23529328175230ADA108  862733785031463239A71A3 2008-07-18 07:13:29 50.000   Completed  200807
5287408  C2EE34271594675673CCDEC  40B23530672376703C8BF45  176133654682760571BEA65 2008-07-18 09:22:48 50.000   Completed  200807

In [12]:
# # When t% of all contributors have bids
# # Take first t% of bids
# def filter_bids(threshold):  
#     bids_ = []
#     threshold = threshold
#     for listing_key in tqdm_notebook(projectsgeq4):
#         var_df = bids.query("ListingKey == '{0}'".format(listing_key)).sort_values(by='CreationDate')
#         bids_.append(var_df[:int(len(var_df)*threshold)])
#     return pd.concat(bids_, axis=0)

In [13]:
bids_10 = filter_bids_by_amount(0.10)
bids_20 = filter_bids_by_amount(0.20)
bids_25 = filter_bids_by_amount(0.25)
bids_30 = filter_bids_by_amount(0.30)
bids_40 = filter_bids_by_amount(0.40)
bids_50 = filter_bids_by_amount(0.50)
bids_60 = filter_bids_by_amount(0.60)
bids_70 = filter_bids_by_amount(0.70)
bids_75 = filter_bids_by_amount(0.75)
bids_80 = filter_bids_by_amount(0.80)
bids_90 = filter_bids_by_amount(0.90)
bids_100 = filter_bids_by_amount(1.00)

HBox(children=(IntProgress(value=0, max=143549), HTML(value=u'')))

ValueError: No objects to concatenate

In [13]:
# bids_25.to_csv("../Data/bids_amount_25.csv", index=False)
# bids_50.to_csv("../Data/bids_amount_50.csv", index=False)
# bids_75.to_csv("../Data/bids_amount_75.csv", index=False)
# bids_100.to_csv("../Data/bids_amount_100.csv", index=False)

In [14]:
bids_25 = pd.read_csv("../Data/bids_amount_25.csv")
bids_50 = pd.read_csv("../Data/bids_amount_50.csv")
bids_75 = pd.read_csv("../Data/bids_amount_75.csv")
bids_100 = pd.read_csv("../Data/bids_amount_100.csv")

In [15]:
len(bids_25), len(bids_50), len(bids_75), len(bids_100)

(28432, 81254, 132260, 189173)

### Bids Aggregation

In [16]:
f = {'ListingKey': ['max'],
     'MemberKey':['count'], # Contributor Count
     'Bid_Key': ['count'], # Contributions Count
     'CreationDate': ['min', avgInterEventTime, covInterEventTime], # First Contribution Timestamp, AvgInterEventTime, CovInterEventTime
     'Amount': ['min', 'mean', 'max', cov] # Minimum, Mean, Maximum, CoV
}

#### Bids 25%

In [17]:
bids_25 = bids_25.drop(['time_trunc'], axis=1)
bids_25.CreationDate = pd.to_datetime(bids_25.CreationDate)
bids_25 = pd.DataFrame(bids_25.groupby('ListingKey').agg(f).as_matrix())
bids_25 = bids_25.rename(index=str, columns={0: "NumContributors", 
                                       1: "FirstContributionTimestamp", 
                                       2: "AvgInterEventTime_sec", 
                                       3: "CovInterEventTime", 
                                       4: "MinContributionAmount",
                                       5: "MeanContributionAmount",
                                       6: "MaxContributionAmount", 
                                       7: "CovContributionAmount",
                                       8: "NumContributions",
                                       9: "ProjectID"})
bids_25.head()

  NumContributors FirstContributionTimestamp AvgInterEventTime_sec CovInterEventTime MinContributionAmount MeanContributionAmount MaxContributionAmount CovContributionAmount NumContributions                ProjectID
0  2               2008-06-18 19:53:23       1.000                 0.000             50.000                50.000                 50.000                0.000                  2                00003423466422120D65CA3
1  1               2007-07-04 06:44:00        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                000433924977359980D3229
2  1               2007-10-11 14:35:08        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                0004340243198378700FF1F
3  7               2007-10-06 09:14:15       37710.000             0.447             50.000                74.854                 100.000               0.307                  7                000D34012867281790A3888
4  7               2007-09-05 16:15:58       1.000                 1.528             50.000                64.286                 100.000               0.351                  7                00153399719267548BE59C1

#### Bids 50%

In [18]:
bids_50 = bids_50.drop(['time_trunc'], axis=1)
bids_50.CreationDate = pd.to_datetime(bids_50.CreationDate)
bids_50 = pd.DataFrame(bids_50.groupby('ListingKey').agg(f).as_matrix())
bids_50 = bids_50.rename(index=str, columns={0: "NumContributors", 
                                       1: "FirstContributionTimestamp", 
                                       2: "AvgInterEventTime_sec", 
                                       3: "CovInterEventTime", 
                                       4: "MinContributionAmount",
                                       5: "MeanContributionAmount",
                                       6: "MaxContributionAmount", 
                                       7: "CovContributionAmount",
                                       8: "NumContributions",
                                       9: "ProjectID"})
bids_50.head()

  NumContributors FirstContributionTimestamp AvgInterEventTime_sec CovInterEventTime MinContributionAmount MeanContributionAmount MaxContributionAmount CovContributionAmount NumContributions                ProjectID
0  4               2008-06-18 19:53:23       2.667                 0.884             50.000                50.000                 50.000                0.000                  4                00003423466422120D65CA3
1  1               2007-01-03 09:11:14        NaN                   NaN              100.000               100.000                100.000               0.000                  1                000433785890431972B4743
2  3               2007-07-04 06:44:00       0.500                 1.000             50.000                50.000                 50.000                0.000                  3                000433924977359980D3229
3  1               2007-10-11 14:35:08        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                0004340243198378700FF1F
4  10              2007-10-06 09:14:15       39276.000             0.504             50.000                74.898                 100.000               0.297                  10               000D34012867281790A3888

#### Bids 75%

In [19]:
bids_75 = bids_75.drop(['time_trunc'], axis=1)
bids_75.CreationDate = pd.to_datetime(bids_75.CreationDate)
bids_75 = pd.DataFrame(bids_75.groupby('ListingKey').agg(f).as_matrix())
bids_75 = bids_75.rename(index=str, columns={0: "NumContributors", 
                                       1: "FirstContributionTimestamp", 
                                       2: "AvgInterEventTime_sec", 
                                       3: "CovInterEventTime", 
                                       4: "MinContributionAmount",
                                       5: "MeanContributionAmount",
                                       6: "MaxContributionAmount", 
                                       7: "CovContributionAmount",
                                       8: "NumContributions",
                                       9: "ProjectID"})
bids_75.head()

  NumContributors FirstContributionTimestamp AvgInterEventTime_sec CovInterEventTime MinContributionAmount MeanContributionAmount MaxContributionAmount CovContributionAmount NumContributions                ProjectID
0  5               2008-06-18 19:53:23       672.000               1.725             50.000                50.000                 50.000                0.000                  5                00003423466422120D65CA3
1  1               2007-01-03 09:11:14        NaN                   NaN              100.000               100.000                100.000               0.000                  1                000433785890431972B4743
2  5               2007-07-04 06:44:00       24165.750             1.398             50.000                60.000                 100.000               0.333                  5                000433924977359980D3229
3  1               2007-10-11 14:35:08        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                0004340243198378700FF1F
4  1               2008-06-05 22:22:44        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                00083422661625108817246

#### Bids 100%

In [20]:
bids_100 = bids_100.drop(['time_trunc'], axis=1)
bids_100.CreationDate = pd.to_datetime(bids_100.CreationDate)
bids_100 = pd.DataFrame(bids_100.groupby('ListingKey').agg(f).as_matrix())
bids_100 = bids_100.rename(index=str, columns={0: "NumContributors", 
                                       1: "FirstContributionTimestamp", 
                                       2: "AvgInterEventTime_sec", 
                                       3: "CovInterEventTime", 
                                       4: "MinContributionAmount",
                                       5: "MeanContributionAmount",
                                       6: "MaxContributionAmount", 
                                       7: "CovContributionAmount",
                                       8: "NumContributions",
                                       9: "ProjectID"})
bids_100.head()

  NumContributors FirstContributionTimestamp AvgInterEventTime_sec CovInterEventTime MinContributionAmount MeanContributionAmount MaxContributionAmount CovContributionAmount NumContributions                ProjectID
0  5               2008-06-18 19:53:23       672.000               1.725             50.000                50.000                 50.000                0.000                  5                00003423466422120D65CA3
1  1               2008-06-21 22:38:29        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                00033425227988088FA6752
2  2               2007-01-03 09:11:14       3299.000              0.000             50.000                75.000                 100.000               0.333                  2                000433785890431972B4743
3  7               2007-07-04 06:44:00       20750.000             1.360             50.000                57.143                 100.000               0.306                  7                000433924977359980D3229
4  1               2007-10-11 14:35:08        NaN                   NaN              50.000                50.000                 50.000                0.000                  1                0004340243198378700FF1F

                 ProjectID  AmountRaised            StartDate              EndDate     Status  BorrowerRate  ProsperScore  Duration  CreditGrade  DebtToIncomeRatio IsBorrowerHomeowner
0  C0933365069571441D6651D 0.000          2006-02-25 05:51:10  2006-03-04 05:53:21  Expired   0.120         nan            7         3           0.142               NaN
1  06413364714455220D3A5A5 0.000          2006-03-15 17:17:51  2006-03-15 21:02:32  Withdrawn 0.120         nan            7         4           0.207               NaN
2  9D5E336577848196944F197 0.000          2006-03-15 21:52:45  2006-03-29 21:54:21  Expired   0.080         nan            14        2           0.169               NaN
3  06193365103109718753985 0.000          2006-03-22 11:34:35  2006-03-28 20:48:47  Withdrawn 0.080         nan            7         6           0.357               NaN
4  1C0733660810131582558C3 0.000          2006-03-22 12:23:19  2006-03-23 08:45:24  Withdrawn 0.150         nan            7         4           0.512               NaN

## Merge Data

In [22]:
## Data 25%
data_25 = bids_25.merge(listings, on="ProjectID", how="left")
data_25["TimeToFirstContribution (sec)"] = (pd.to_datetime(data_25.FirstContributionTimestamp) - pd.to_datetime(data_25.StartDate)).dt.seconds
data_25["Duration (days)"] = (pd.to_datetime(data_25.EndDate) - pd.to_datetime(data_25.StartDate)).dt.days
data_25 = data_25[data_25["Duration (days)"] >= 0]
statusmap = {'Completed':1, 'Expired':0}
data_25 = data_25.applymap(lambda s: statusmap.get(s) if s in statusmap else s)
del bids_25
## Data 50%
data_50 = bids_50.merge(listings, on="ProjectID", how="left")
data_50["TimeToFirstContribution (sec)"] = (pd.to_datetime(data_50.FirstContributionTimestamp) - pd.to_datetime(data_50.StartDate)).dt.seconds
data_50["Duration (days)"] = (pd.to_datetime(data_50.EndDate) - pd.to_datetime(data_50.StartDate)).dt.days
data_50 = data_50[data_50["Duration (days)"] >= 0]
data_50 = data_50.applymap(lambda s: statusmap.get(s) if s in statusmap else s)
del bids_50
## Data 75%
data_75 = bids_75.merge(listings, on="ProjectID", how="left")
data_75["TimeToFirstContribution (sec)"] = (pd.to_datetime(data_75.FirstContributionTimestamp) - pd.to_datetime(data_75.StartDate)).dt.seconds
data_75["Duration (days)"] = (pd.to_datetime(data_75.EndDate) - pd.to_datetime(data_75.StartDate)).dt.days
data_75 = data_75[data_75["Duration (days)"] >= 0]
data_75 = data_75.applymap(lambda s: statusmap.get(s) if s in statusmap else s)
del bids_75
## Data 100%
data_100 = bids_100.merge(listings, on="ProjectID", how="left")
data_100["TimeToFirstContribution (sec)"] = (pd.to_datetime(data_100.FirstContributionTimestamp) - pd.to_datetime(data_100.StartDate)).dt.seconds
data_100["Duration (days)"] = (pd.to_datetime(data_100.EndDate) - pd.to_datetime(data_100.StartDate)).dt.days
data_100 = data_100[data_100["Duration (days)"] >= 0]
data_100 = data_100.applymap(lambda s: statusmap.get(s) if s in statusmap else s)
del bids_100
# data.head()

## Model Evaluation

In [23]:
features_5 = ["NumContributors", "CovInterEventTime", "CovContributionAmount", "TimeToFirstContribution (sec)", 'Duration (days)']
# Initialize Standard Scaler
scaler = StandardScaler()

### Bids 25%

In [24]:
X = data_25[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_25['Status'].as_matrix()
print Counter(y)
evaluation = evaluation_summary(X,y)
evaluation

Counter({1: 8662, 0: 3531})
Completed QDA in 0.0493122 seconds
Completed CART in 0.1311969 seconds
Completed GNB in 0.0351257 seconds
Completed RF in 28.6254133 seconds
Completed LR in 0.0787541 seconds
Completed ADB in 1.7648885 seconds

  Model  Accuracy  Precision  Recall    F1   AUC
0  QDA  0.585     0.851      0.504   0.633 0.644
1  CART 0.652     0.763      0.739   0.751 0.588
2  GNB  0.593     0.837      0.530   0.649 0.639
3  RF   0.628     0.821      0.609   0.699 0.642
4  LR   0.570     0.879      0.458   0.602 0.652
5  ADB  0.711     0.711      0.998   0.831 0.503

In [36]:
classifier = classifiers.get("RF")
estimates = []
X = data_25[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_25['Status'].as_matrix()
for x in tqdm_notebook(range(0,100)):
    y_pred = run_cv(X,y,classifier)
    estimates.append(auc(y, y_pred))
print "Mean AUC", np.mean(estimates)
print "St. Dev", np.std(estimates)
print "N", len(y)

HBox(children=(IntProgress(value=0), HTML(value=u'')))

Mean AUC 0.6456350310123856
St. Dev 0.002728637906439208
N 12193

### Bids 50%

In [25]:
X = data_50[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_50['Status'].as_matrix()
print Counter(y)
evaluation = evaluation_summary(X,y)
evaluation

Counter({1: 17843, 0: 10408})
Completed QDA in 0.0852991 seconds
Completed CART in 0.4082108 seconds
Completed GNB in 0.0679834 seconds
Completed RF in 60.1014798 seconds
Completed LR in 0.2067463 seconds
Completed ADB in 3.5267687 seconds

  Model  Accuracy  Precision  Recall    F1   AUC
0  QDA  0.612     0.805      0.508   0.623 0.649
1  CART 0.630     0.718      0.682   0.700 0.612
2  GNB  0.619     0.797      0.532   0.638 0.650
3  RF   0.641     0.822      0.551   0.660 0.673
4  LR   0.563     0.865      0.366   0.514 0.634
5  ADB  0.689     0.730      0.806   0.766 0.647

In [35]:
classifier = classifiers.get("RF")
estimates = []
X = data_50[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_50['Status'].as_matrix()
for x in tqdm_notebook(range(0,100)):
    y_pred = run_cv(X,y,classifier)
    estimates.append(auc(y, y_pred))
print "Mean AUC", np.mean(estimates)
print "St. Dev", np.std(estimates)
print "N", len(y)

HBox(children=(IntProgress(value=0), HTML(value=u'')))

Mean AUC 0.6740735742723609
St. Dev 0.0016001533813119271
N 28251

### Bids 75%

In [26]:
X = data_75[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_75['Status'].as_matrix()
print Counter(y)
evaluation = evaluation_summary(X,y)
evaluation

Counter({1: 21867, 0: 14459})
Completed QDA in 0.1124834 seconds
Completed CART in 0.5284735 seconds
Completed GNB in 0.1000756 seconds
Completed RF in 75.532084 seconds
Completed LR in 0.280151 seconds
Completed ADB in 4.648097 seconds

  Model  Accuracy  Precision  Recall    F1   AUC
0  QDA  0.633     0.789      0.532   0.636 0.658
1  CART 0.638     0.710      0.676   0.692 0.629
2  GNB  0.641     0.774      0.571   0.657 0.659
3  RF   0.659     0.823      0.552   0.661 0.686
4  LR   0.581     0.874      0.355   0.505 0.639
5  ADB  0.694     0.743      0.751   0.747 0.679

In [34]:
classifier = classifiers.get("RF")
estimates = []
X = data_75[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_75['Status'].as_matrix()
for x in tqdm_notebook(range(0,100)):
    y_pred = run_cv(X,y,classifier)
    estimates.append(auc(y, y_pred))
print "Mean AUC", np.mean(estimates)
print "St. Dev", np.std(estimates)
print "N", len(y)

HBox(children=(IntProgress(value=0), HTML(value=u'')))

Mean AUC 0.6872360004747118
St. Dev 0.0012506671613461834
N 36326

### Bids 100%

In [27]:
X = data_100[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_100['Status'].as_matrix()
print Counter(y)
evaluation = evaluation_summary(X,y)
evaluation

Counter({1: 24290, 0: 20484})
Completed QDA in 0.1296583 seconds
Completed CART in 0.7358023 seconds
Completed GNB in 0.2081029 seconds
Completed RF in 106.1038224 seconds
Completed LR in 0.4566875 seconds
Completed ADB in 7.0169904 seconds

  Model  Accuracy  Precision  Recall    F1   AUC
0  QDA  0.664     0.751      0.571   0.649 0.673
1  CART 0.660     0.694      0.667   0.680 0.659
2  GNB  0.675     0.738      0.623   0.676 0.680
3  RF   0.696     0.827      0.557   0.665 0.709
4  LR   0.615     0.875      0.340   0.489 0.641
5  ADB  0.720     0.742      0.743   0.743 0.718

In [33]:
classifier = classifiers.get("RF")
estimates = []
X = data_100[features_5].fillna(-1).as_matrix()
X = scaler.fit_transform(X)
y = data_100['Status'].as_matrix()
for x in tqdm_notebook(range(0,100)):
    y_pred = run_cv(X,y,classifier)
    estimates.append(auc(y, y_pred))
print "Mean AUC", np.mean(estimates)
print "St. Dev", np.std(estimates)
print "N", len(y)

HBox(children=(IntProgress(value=0), HTML(value=u'')))

Mean AUC 0.7091187919495191
St. Dev 0.0009304767140333035
N 44774